<a href="https://colab.research.google.com/github/aysdk0606/Prog2kakushin/blob/main/work1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

第12回
pandasを使ったプログラムの作成

冬の降水量、育成期の平均気温、収穫期の降水量のデータから大まかなワインの価値を予想するプログラム

In [26]:
!wget   "https://drive.google.com/uc?export=download&id=1SbfAFynFVXeYPVinIe_vlCnxz4y2uqb7" -O wainn-data.csv

--2022-12-22 08:55:06--  https://drive.google.com/uc?export=download&id=1SbfAFynFVXeYPVinIe_vlCnxz4y2uqb7
Resolving drive.google.com (drive.google.com)... 142.250.128.102, 142.250.128.101, 142.250.128.139, ...
Connecting to drive.google.com (drive.google.com)|142.250.128.102|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-10-8g-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/2fjjsklelqp7fb5ecc1eimdgdt8g0o6h/1671699300000/09471176606170325304/*/1SbfAFynFVXeYPVinIe_vlCnxz4y2uqb7?e=download&uuid=327619d0-b160-49fe-9240-d9df3960dbfb [following]
Warning: wildcards not supported in HTTP.
--2022-12-22 08:55:06--  https://doc-10-8g-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/2fjjsklelqp7fb5ecc1eimdgdt8g0o6h/1671699300000/09471176606170325304/*/1SbfAFynFVXeYPVinIe_vlCnxz4y2uqb7?e=download&uuid=327619d0-b160-49fe-9240-d9df3960dbfb
Resolving doc-10-8g-docs.googleusercontent.com (doc-10-8g-docs.googleusercontent.com)... 74.125.201.132, 2607:f8b0:4001:c01::84
Connecting to doc-10-8g-docs.googleusercontent.com (doc-10-8g-docs.googleusercontent.com)|74.125.201.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 793 [text/csv]
Saving to: ‘wainn-data.csv’

wainn-data.csv      100%[===================>]     793  --.-KB/s    in 0s

2022-12-22 08:55:07 (12.5 MB/s) - ‘wainn-data.csv’ saved [793/793]

In [24]:
import pandas as pd
df = pd.read_csv('wainn-data.csv')
df

    VINT  WRAIN  DEGREES  HRAIN
0   1952    600  17.1167    160
1   1953    690  16.7333     80
2   1954    430  15.3833    180
3   1955    502  17.1500    130
4   1956    440  15.6500    140
5   1957    420  16.1333    110
6   1958    582  16.4167    187
7   1959    485  17.4833    187
8   1960    763  16.4167    290
9   1961    830  17.3333     38
10  1962    697  16.3000     52
11  1963    608  15.7167    155
12  1964    402  17.2667     96
13  1965    602  15.3667    267
14  1966    819  16.5333     86
15  1967    714  16.2333    118
16  1968    610  16.2000    292
17  1969    575  16.5500    244
18  1970    622  16.6667     89
19  1971    551  16.7667    112
20  1972    536  14.9833    158
21  1973    376  17.0667    123
22  1974    574  16.3000    184
23  1975    572  16.9500    171
24  1976    418  17.6500    247
25  1977    821  15.5833     87
26  1978    763  15.8167     51
27  1979    717  16.1667    122
28  1980    578  16.0000     74
29  1981    535  16.9667    111
30  1982    712  17.4000    162
31  1983    845  17.3833    119
32  1984    591  16.5000    119
33  1985    744  16.8000     38
34  1986    563  16.2833    171
35  1987    452  16.9833    115
36  1988    808  17.1000     59

In [25]:
#値が大きくなるほど品質が良い可能性が高い
n=0
max=-10
min=0
for i in range(36):
  wrain,degrees,hrain=df['WRAIN'][n],df['DEGREES'][n],df['HRAIN'][n]
  price=-12.145+0.00117*wrain+0.616*degrees-0.00386*hrain
  print(str(1952+n),'年のワインの価値は',str(price))
  n+=1
  if max<=price:
    max=price
  if min>=price:
    min=price

print('最大値は1961年の',str(max),'最小値は1965年の',str(min))

1952 年のワインの価値は -1.5167127999999992
1953 年のワインの価値は -1.3387872000000007
1954 年のワインの価値は -2.8605872000000003
1955 年のワインの価値は -1.4950600000000012
1956 年のワインの価値は -2.5302000000000007
1957 年のワインの価値は -2.1400872
1958 年のワインの価値は -2.0731928
1959 年のワインの価値は -1.5296571999999982
1960 年のワインの価値は -2.2590028
1961 年のワインの価値は -0.6432671999999987
1962 年のワインの価値は -1.4894299999999983
1963 年のワインの価値は -2.350452800000001
1964 年のワインの価値は -1.4089327999999994
1965 年のワインの価値は -3.0053928
1966 年のワインの価値は -1.334217199999999
1967 年のワインの価値は -1.7653871999999997
1968 年のワインの価値は -2.5792200000000016
1969 年のワインの価値は -2.219289999999998
1970 年のワインの価値は -1.494112799999999
1971 年のワインの価値は -1.6043627999999999
1972 年のワインの価値は -2.8980472
1973 年のワインの価値は -1.6667727999999977
1974 年のワインの価値は -2.142859999999998
1975 年のワインの価値は -1.6946199999999991
1976 年のワインの価値は -1.7369600000000003
1977 年のワインの価値は -1.9209371999999991
1978 年のワインの価値は -1.7060628000000007
1979 年のワインの価値は -1.8183428000000004
1980 年のワインの価値は -1.8983800000000004
1981 年のワインの価値は -1.496022800000001
1982 年のワインの価値は -1.21888
1983 年のワインの価値は -0.9075772000000013
1984 年のワインの価値は -1.7488699999999993
1985 年のワインの価値は -1.0723999999999982
1986 年のワインの価値は -2.1158372
1987 年のワインの価値は -1.5983471999999999
最大値は1961年の -0.6432671999999987 最小値は1965年の -3.0053928